
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="td-main-content-wrap td-main-page-wrap td-container-wrap">
    <div class="td-container tdc-content-wrap">
        <div class="vc_row wpb_row td-pb-row">
            <div class="wpb_column vc_column_container td-pb-span12">
                <div class="vc_column-inner ">
                    <div class=wpb_wrapper>
                        @Html.Action("BlockSliderText", "Common")
                        @Html.Action("BlockBanner4", "Common")
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row wpb_row td-pb-row td-ss-row">
            <div class="wpb_column vc_column_container td-pb-span8">
                <div class="vc_column-inner ">
                    <div class=wpb_wrapper>
                        @Html.Action("BlockDontMiss", "Common")
                        <div class=clearfix></div>
                        @Html.Action("BlockTechAndGadgets", "Common")
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container td-pb-span4">
                <div class="vc_column-inner ">
                    <div class=wpb_wrapper>
                        @Html.Action("BlockLeftStayConnected", "Common")
                        @Html.Action("BlockLeftBanner", "Common")
                        @Html.Action("BlockLeftItModern", "Common")
                        <div class=clearfix></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="td-container td-pb-article-list">
        <div class=td-pb-row>
            @Html.Action("BlockLatestAticles", "Common")
            <div class="td-pb-span4 td-main-sidebar" role=complementary>
                <div class=td-ss-main-sidebar>
                    @Html.Action("BlockLeftMostPopular", "Common")
                    @Html.Action("BlockLeftRecentComments", "Common")
                </div>
            </div>
        </div>
    </div>
</div>