@{
    var cndUrl = TMV.Utilities.Globals.FrontEndUrl;
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow" />
    <meta name="google-site-verification" content="y9WBeak16eQLBQRIY0fkbUXq8EHJyJrUWYSLr25bKQY" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&amp;subset=vietnamese" rel="stylesheet">
    <title>Newspaper Demo | The Best News Magazine WordPress Theme</title>

    <link rel=icon type="image/png" href="https://demo.tagdiv.com/newspaper/wp-content/uploads/2016/01/favicon.png">
    <link rel=apple-touch-icon-precomposed sizes=76x76 href="https://demo.tagdiv.com/newspaper/wp-content/uploads/2016/04/ico-76.png" />
    <link rel=apple-touch-icon-precomposed sizes=120x120 href="https://demo.tagdiv.com/newspaper/wp-content/uploads/2016/04/ico-120.png" />
    <link rel=apple-touch-icon-precomposed sizes=152x152 href="https://demo.tagdiv.com/newspaper/wp-content/uploads/2016/04/ico-152.png" />
    <link rel=apple-touch-icon-precomposed sizes=114x114 href="https://demo.tagdiv.com/newspaper/wp-content/uploads/2016/04/ico-114.png" />
    <link rel=apple-touch-icon-precomposed sizes=144x144 href="https://demo.tagdiv.com/newspaper/wp-content/uploads/2016/04/ico-144.png" />
    <meta name=description content="Discover the stunning features and widgets packed in the Newspaper WordPress Theme with Newspaper Default Demo website. Experience the best news theme now!" />

    <link rel=canonical href="index.html" />
    <meta property=og:locale content=en_US />
    <meta property=og:type content=website />
    <meta property=og:title content="Newspaper Demo | The Best News Magazine WordPress Theme" />
    <meta property=og:description content="Discover the stunning features and widgets packed in the Newspaper WordPress Theme with Newspaper Default Demo website. Experience the best news theme now!" />
    <meta property=og:url content="https://demo.tagdiv.com/newspaper/" />
    <meta property=og:site_name content="Newspaper 7 Demo" />
    <meta name=twitter:card content=summary />
    <meta name=twitter:description content="Discover the stunning features and widgets packed in the Newspaper WordPress Theme with Newspaper Default Demo website. Experience the best news theme now!" />
    <meta name=twitter:title content="Newspaper Demo | The Best News Magazine WordPress Theme" />

    <link rel=dns-prefetch href='https://ajax.googleapis.com/' />
    <link rel=dns-prefetch href='https://s.w.org/' />
    <link rel=alternate type="application/rss+xml" title="Newspaper 7 Demo &raquo; Feed" href="https://demo.tagdiv.com/newspaper/feed/" />
    <link rel=alternate type="application/rss+xml" title="Newspaper 7 Demo &raquo; Comments Feed" href="https://demo.tagdiv.com/newspaper/comments/feed/" />
    <link rel=alternate type="application/rss+xml" title="Newspaper 7 Demo &raquo; Homepage Comments Feed" href="https://demo.tagdiv.com/newspaper/homepage/feed/" />
    <script type="text/javascript">window._wpemojiSettings={"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/demo.tagdiv.com\/newspaper\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.2"}};!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);</script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='https://api.w.org/' href='https://demo.tagdiv.com/newspaper/wp-json/' />
    <link rel=EditURI type="application/rsd+xml" title=RSD href="https://demo.tagdiv.com/newspaper/xmlrpc.php?rsd" />
    <link rel=wlwmanifest type="application/wlwmanifest+xml" href="https://demo.tagdiv.com/newspaper/wp-includes/wlwmanifest.xml" />
    <meta name=generator content="WordPress 4.7.2" />
    <link rel=shortlink href='index.html' />
    <link rel=alternate type="application/json+oembed" href="https://demo.tagdiv.com/newspaper/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdemo.tagdiv.com%2Fnewspaper%2F" />
    <link rel=alternate type="text/xml+oembed" href="https://demo.tagdiv.com/newspaper/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdemo.tagdiv.com%2Fnewspaper%2F&#038;format=xml" />
    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name=generator content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <script>var td_is_safari=false;var td_is_ios=false;var td_is_windows_phone=false;var ua=navigator.userAgent.toLowerCase();var td_is_android=ua.indexOf('android')>-1;if(ua.indexOf('safari')!=-1){if(ua.indexOf('chrome')>-1){}else{td_is_safari=true;}}if(navigator.userAgent.match(/(iPhone|iPod|iPad)/i)){td_is_ios=true;}if(navigator.userAgent.match(/Windows Phone/i)){td_is_windows_phone=true;}if(td_is_ios||td_is_safari||td_is_windows_phone||td_is_android){if(top.location!=location){top.location.replace('https://demo.tagdiv.com/newspaper/');}}var tdBlocksArray=[];function tdBlock(){this.id='';this.block_type=1;this.atts='';this.td_column_number='';this.td_current_page=1;this.post_count=0;this.found_posts=0;this.max_num_pages=0;this.td_filter_value='';this.is_ajax_running=false;this.td_user_action='';this.header_color='';this.ajax_pagination_infinite_stop='';}(function(){var htmlTag=document.getElementsByTagName("html")[0];if(navigator.userAgent.indexOf("MSIE 10.0")>-1){htmlTag.className+=' ie10';}if(!!navigator.userAgent.match(/Trident.*rv\:11\./)){htmlTag.className+=' ie11';}if(/(iPad|iPhone|iPod)/g.test(navigator.userAgent)){htmlTag.className+=' td-md-is-ios';}var user_agent=navigator.userAgent.toLowerCase();if(user_agent.indexOf("android")>-1){htmlTag.className+=' td-md-is-android';}if(-1!==navigator.userAgent.indexOf('Mac OS X')){htmlTag.className+=' td-md-is-os-x';}if(/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())){htmlTag.className+=' td-md-is-chrome';}if(-1!==navigator.userAgent.indexOf('Firefox')){htmlTag.className+=' td-md-is-firefox';}if(-1!==navigator.userAgent.indexOf('Safari')&&-1===navigator.userAgent.indexOf('Chrome')){htmlTag.className+=' td-md-is-safari';}if(-1!==navigator.userAgent.indexOf('IEMobile')){htmlTag.className+=' td-md-is-iemobile';}})();var tdLocalCache={};(function(){"use strict";tdLocalCache={data:{},remove:function(resource_id){delete tdLocalCache.data[resource_id];},exist:function(resource_id){return tdLocalCache.data.hasOwnProperty(resource_id)&&tdLocalCache.data[resource_id]!==null;},get:function(resource_id){return tdLocalCache.data[resource_id];},set:function(resource_id,cachedData){tdLocalCache.remove(resource_id);tdLocalCache.data[resource_id]=cachedData;}};})();var tds_login_sing_in_widget="show";var td_viewport_interval_list=[{"limitBottom":767,"sidebarWidth":228},{"limitBottom":1018,"sidebarWidth":300},{"limitBottom":1140,"sidebarWidth":324}];var td_animation_stack_effect="type0";var tds_animation_stack=true;var td_animation_stack_specific_selectors=".entry-thumb, img";var td_animation_stack_general_selectors=".td-animation-stack img, .td-animation-stack .entry-thumb, .post img";var td_ajax_url="https:\/\/demo.tagdiv.com\/newspaper\/wp-admin\/admin-ajax.php?td_theme_name=Newspaper&v=7.8_d22434x";var td_get_template_directory_uri="https:\/\/demo.tagdiv.com\/newspaper\/wp-content\/themes\/011";var tds_snap_menu="smart_snap_always";var tds_logo_on_sticky="show_header_logo";var tds_header_style="";var td_please_wait="Please wait...";var td_email_user_pass_incorrect="User or password incorrect!";var td_email_user_incorrect="Email or username incorrect!";var td_email_incorrect="Email incorrect!";var tds_more_articles_on_post_enable="";var tds_more_articles_on_post_time_to_wait="";var tds_more_articles_on_post_pages_distance_from_top=0;var tds_theme_color_site_wide="#4db2ec";var tds_smart_sidebar="enabled";var tdThemeName="Newspaper";var td_magnific_popup_translation_tPrev="Previous (Left arrow key)";var td_magnific_popup_translation_tNext="Next (Right arrow key)";var td_magnific_popup_translation_tCounter="%curr% of %total%";var td_magnific_popup_translation_ajax_tError="The content from %url% could not be loaded.";var td_magnific_popup_translation_image_tError="The image #%curr% could not be loaded.";var td_ad_background_click_link="";var td_ad_background_click_target="";</script>
    <style>
        body {
            visibility: hidden;
        }
    </style>

    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
    <link rel=dns-prefetch href="https://secure.gravatar.com/">
    <link rel=dns-prefetch href="https://fonts.googleapis.com/">

    @RenderSection("META_INC", false)
</head>
<body>
    <div class="wrapper h1">
        <div class="container">
            @RenderSection("H1_INC", false)
        </div>
    </div>

    <header>
        <div class="row align-middle">
            <div class="shrink columns">

                <a href="/">

                    <img src="/assets/img/logo.png" width="318" alt="">
                </a>



            </div>

            <div class="shrink  columns text-center tonvinh-column">

                <img src="/assets/img/tonvinhadong.png" alt="" width="307">

            </div>

            <div class="expand  columns navContact-column ">

                <div class="navContact">
                    <div class="navContact-txt">Hãy gọi cho chúng tôi để được tư vấn miễn phí</div>

                    <div class="navContact-phone">
                        <img src="/assets/img/icon-phone.png" alt="" width="24"> 0909 055 678 - (08) 38 634 820
                    </div>

                    <div class="navContact-txt">759 Lê Hồng Phong (nối dài), P.12, Q.10, Tp. HCM</div>
                </div>

            </div>
        </div>


    </header>

    <div class="menu-mobile">


        <div>
            <a href="/"><img src="/assets/img/logo-nav.png" width="40" alt=""></a>
        </div>



        <div class="hamburger" data-toggle="mainNav">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </div>

    @Html.Action("Menu_V2", "Common")


    <ul class="menu-fix ">
        <li>
            <a href="/bang-gia">
                <img src="/assets/img/icon-fix-1.png" alt=""> BẢNG GIÁ
            </a>
        </li>

        <li>
            <a href="/khuyen-mai">
                <img src="/assets/img/icon-fix-2.png" alt=""> KHUYẾN MÃI
            </a>
        </li>

        <li>
            <a href="#dk-tu-van">
                <img src="/assets/img/icon-fix-3.png" alt=""> ĐĂNG KÝ
            </a>
        </li>

        <li>
            <a href="/kien-thuc">
                <img src="/assets/img/icon-fix-4.png" alt=""> TIN TỨC
            </a>
        </li>
    </ul>


    @RenderSection("BREADCRUMB_INC", false)

    @RenderBody()
    @RenderSection("LW_INC", false)

    @Html.Action("BoxBanner", "Common", new { priority = (byte)TMV.Utilities.Globals.PriorityBanner.RightAngle })
    <div id="btn-top">↑</div>

    @*<div>
            <a class="popup-register" href="#popup-register">
                <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show" id="coccoc-alo-phoneIcon">
                    <div class="coccoc-alo-ph-circle"></div>
                    <div class="coccoc-alo-ph-circle-fill"></div>
                    <div class="coccoc-alo-ph-img-circle"></div>
                </div>
            </a>
        </div>*@

    <footer>
        <div class="row align-middle">
            <div class="columns small-12 mobile-12 medium-4">
                <div class="text-right">
                    <img src="/assets/img/logo.png" width="318" alt="">
                </div>
                <div class="text-right" style="font-size: 12px; margin-top: 20px; margin-bottom: 20px">
                    <div>759 Lê Hồng Phong (nối dài), P.12, Q.10, Tp. HCM</div>
                    <div> Điện thoại: 0909 055 678 - (08) 38 634 820</div>
                    Email: <a href="mailto:tmvhoanganh@gmail.com">tmvhoanganh@gmail.com</a>
                </div>

                <br>

            </div>
            <div class="columns small-12 mobile-12 medium-4" id="dk-tu-van">

                <div class="formTuvan">

                    <form id="frmRegister" onsubmit="return Register()">
                        <h4 class="title">Đăng ký tư vấn</h4>

                        <div class="form-element">
                            <span>Họ và tên :</span>
                            <div class="form-element-input">
                                <input type="text" placeholder="Họ và tên" name="txtFullNameRG" id="txtFullNameRG">
                            </div>


                        </div>

                        <div class="form-element">
                            <span>Số ĐT:</span>
                            <div class="form-element-input">
                                <input type="text" placeholder="Số ĐT" name="txtPhoneNumberRG" id="txtPhoneNumberRG">
                            </div>

                        </div>

                        <div class="form-element">
                            <span>Email:</span>
                            <div class="form-element-input">
                                <input type="email" placeholder="Email" name="txtEmailRG" id="txtEmailRG">
                            </div>

                        </div>

                        <div class="form-element">
                            <span> Giới tính</span>

                            <div class="form-element-input">
                                <input type="radio" name="sex" value="male" id="radioMale" required><label for="radioMale">Nam</label>
                                <input type="radio" name="sex" value="female" id="radioFemale"><label for="radioFemale">Nữ</label>
                            </div>
                        </div>

                        <div class="form-element">
                            <span>Nội dung :</span>

                            <div class="form-element-input">
                                <textarea placeholder="Nội dung" name="txtContentRG" id="txtContentRG"></textarea>
                            </div>


                        </div>

                        <div class="text-center">
                            <button class="formTuvan-btn">&raquo; Đăng ký &laquo;</button>
                        </div>

                    </form>

                </div>

                <div class="text-center" style="font-size: 12px; color: black; margin-top: 10px; margin-bottom: 15px;">
                    Bản quyền 2014 © Trung tâm thẩm mỹ Hoàng Anh. All rights reserved.
                </div>

            </div>
            <div class="columns small-12 mobile-12 medium-4">

                <h4 class="ketnoi-txt">KẾT NỐI TMV HOÀNG ANH</h4>

                <a href="https://www.facebook.com/thammyvienhoanganh.vn" style="display: inline-block; padding: 20px 5px;">
                    <img src="/assets/img/facebook.png" alt="">
                </a>

                <a href="https://www.youtube.com/channel/UC4M32_ehIBHFUPUnXinITxg" style="display: inline-block; padding: 20px 5px;">
                    <img src="/assets/img/youtube.png" alt="">
                </a>

            </div>
        </div>
    </footer>

    <div id="thongtin" class="formTuvan zoom-anim-dialog mfp-hide all-popup">

        <form id="frmRegisterService" onsubmit="return RegisterService()">
            <h4 class="title">Đăng ký dịch vụ</h4>

            <div class="form-element">
                <span>Họ và tên :</span>
                <div class="form-element-input">
                    <input type="text" placeholder="Họ và tên" name="txtFullNameSV" id="txtFullNameSV">
                </div>


            </div>

            <div class="form-element">
                <span>Số ĐT:</span>
                <div class="form-element-input">
                    <input type="text" placeholder="Số ĐT" name="txtPhoneNumberSV" id="txtPhoneNumberSV">
                </div>

            </div>

            <div class="form-element">
                <span>Email:</span>
                <div class="form-element-input">
                    <input type="email" placeholder="Email" name="txtEmailSV" id="txtEmailSV">
                </div>

            </div>

            <div class="form-element">
                <span>Dịch vụ :</span>

                <div class="form-element-input">
                    <textarea placeholder="Nội dung" name="txtContentSV" id="txtContentSV"></textarea>
                </div>


            </div>

            <div class="text-center">
                <button class="formTuvan-btn">&raquo; Đăng ký &laquo;</button>
            </div>

        </form>

    </div>

    <div class='gotop'>
        <i class='ti-angle-up'></i>
    </div>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/static/custom.js"></script>
<script src="/assets/js/custom.js"></script>

    @RenderSection("Scripts",false)

<!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WF7T36"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WF7T36');</script>
    <!-- End Google Tag Manager -->


</body>
</html>
