@model TMV.Data.Entities.ArticleInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var objCategory = ViewBag.ObjCategory as TMV.Data.Entities.CategoryInfo;
    var title = objCategory == null ? Model.SeoTitle : objCategory.SeoTitle;
    var description = objCategory == null ? Model.SeoDescription : objCategory.SeoDescription;
    var keywords = objCategory == null ? Model.Tags : objCategory.SeoKeyword;
    var permalink = Model.NavigationUrl;
    var type = "website";
    var thumbnail = TMV.Utilities.Globals.ImageUrlNoCDN(Model.Avatar, 230, false);
}

@section META_INC {
    @Html.Raw(TMV.Utilities.HtmlHelper.MetaTag(title, description, keywords, permalink, type, thumbnail))
}

@section BREADCRUMB_INC {
    @Html.Raw(ViewBag.BreadCrumb)
}
@section H1_INC {
    <h1 style="text-indent: -9999px; position: fixed; top: 0; left: 0;"><a href="@permalink">@Model.Title</a></h1>
}
@*@section LW_INC {
        @Html.Action("BoxCategory", "Common", new { categoryId = Model.CategoryId })
    }*@

<div class="section baiviet">

    <div class="row">
        <div class="columns small-12 medium-8 large-9">

            <h2 class="section-title">
                <img src="/assets/img/s-title-pattern.png" alt=""> <span>@Model.Title</span> <img src="/assets/img/s-title-pattern.png"
                                                                                                  alt="">
            </h2>

            @Html.Raw(Server.HtmlDecode(Model.Intro))

            <div class="bang-gia">

                <div>
                    <a href="\bang-gia\" class="bang-gia-btn">BẢNG GIÁ DỊCH VỤ</a>
                </div>

                <div>
                    <a href="\bang-gia\"><img src="/assets/img/btn-phone.png" alt=""></a>
                </div>

                <div style="text-align: center; padding: 10px;">
                    Ghi chú: (*) thời gian và số lần tùy thuộc vào cơ địa của mỗi người.
                </div>

            </div>

            @if (!string.IsNullOrEmpty(Model.Tags))
            {
                @Html.Raw(TMV.Utilities.HtmlHelper.HtmlTagsNew(Model.Tags, Request.RawUrl))
            }

            @*<ul class="tags">
                <li><a href="#" class="tag">HTML</a></li>
                <li><a href="#" class="tag">CSS</a></li>
                <li><a href="#" class="tag">JavaScript</a></li>
            </ul>*@</div>


        <div class="columns small-12 medium-4 large-3">

            <div class="formSearch">
                <div class="input-group">
                    <div class="input-group-button">
                        <a href=""><i class="ti-search"></i></a>
                    </div>

                    <input class="input-group-field" type="text">

                </div>
            </div>

            @Html.Action("BoxArticleViewV2", "Common")

        </div>







    </div>
</div>

@Html.Action("BoxOther", new { articleId = Model.ArticleId, categoryId = Model.CategoryId })



@*<div class="row">
    <div class="medium-12 columns">
        <div class="main-content bg-black">
            <h2 class="section-title">
                <img src="/assets/img/s-title-pattern.png" alt=""> <span>@Model.Title</span> <img src="/assets/img/s-title-pattern.png" alt="">
            </h2>
            @Html.Raw(Server.HtmlDecode(Model.Intro))
            <div style="text-align: center;">
                <a href="/lien-he">
                    <img src="/assets/img/bang-gia-dich-vu.png"/>
                </a>
            </div>
            <div style="text-align: center; padding: 10px;">
                Ghi chú: (*) thời gian và số lần tùy thuộc vào cơ địa của mỗi người.
            </div>
            @if (!string.IsNullOrEmpty(Model.Tags))
            {
                @Html.Raw(TMV.Utilities.HtmlHelper.HtmlTags(Model.Tags, Request.RawUrl))
            }

            @if (Model.CategoryId == 96)
            {
                @Html.Action("BoxOther", new {articleId = Model.ArticleId, categoryId = Model.CategoryId})
            }

        </div>
    </div>
</div>*@
