@model List<TMV.Data.Entities.MenuInfo>
    @if (Model.Any())
    {
        <div class="td-header-menu-wrap-full td-container-wrap ">
            <div class="td-header-menu-wrap td-header-gradient">
                <div class="td-container td-header-row td-header-main-menu">
                    <div id=td-header-menu role=navigation>
                        <div class=menu-main-menu-container>
                            <ul id=menu-main-menu-1 class=sf-menu>
                                @foreach (var itemParent in Model.Where(p => p.ParentId == -1))
                                {
                                    var lstSup = Model.Where(p => p.ParentId == itemParent.Id).ToList();
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-296">
                                        <a href="@itemParent.NavigationUrl">@itemParent.CategoryName</a>
                                        @if (lstSup.Any())
                                        {
                                            <ul class=sub-menu>
                                            @foreach (var itemSub in lstSup)
                                            {
                                                var lstSupSup = Model.Where(p => p.ParentId== itemSub.Id).ToList();

                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-297">
                                                    <a href="@itemSub.NavigationUrl">@itemSub.CategoryName</a>
                                                    @if (lstSupSup.Any())
                                                    {
                                                        <ul class=sub-menu>
                                                            @foreach (var itemSubSup in lstSupSup)
                                                            {
                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-310">
                                                                    <a href="@itemSubSup.NavigationUrl">@itemSubSup.CategoryName</a>
                                                                </li>
                                                            }

                                                        </ul>

                                                    }

                                                </li>

                                            }
                                        </ul>
                                        }
                                        
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
