@model List<TMV.Data.Entities.ArticleInfo>

<div class="td-pb-span8 td-main-content" role=main>
    <div class="td-ss-main-content td_block_template_1">
        <div class=td-block-title-wrap><h4 class=block-title><span class=td-pulldown-size>LATEST ARTICLES</span></h4>
        </div>
        
           
                        @{
                            int countitem = Model.Count();
                            int itemOrder = 0;
                        }
                        @for (int i = 0; i < countitem; i++)
                        {
                            if (itemOrder == i)
                            {

                                <div class="td-block-row">
                                    @{
                                        if (itemOrder < countitem)
                                        {
                                            var item = Model.ElementAt(itemOrder);
                                            <div class=td-block-span6>
                                                <div class="td_module_1 td_module_wrap td-animation-stack">
                                                    <div class=td-module-image>
                                                        <div class=td-module-thumb><a href="@item.NavigationUrl" rel=bookmark title="@item.Title">
                                                            <img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/headphones-324x160.jpg" alt="" title="@item.Title"/>
                                                        </a></div> <a href="@item.NavigationUrl" class=td-post-category>@item.CategoryName</a>
                                                    </div>
                                                    <h3 class="entry-title td-module-title"><a href="@item.NavigationUrl" rel=bookmark title="@item.Title">@item.Title</a></h3>
                                                    <div class=td-module-meta-info>
                                                        <span class=td-post-author-name><a href="@item.Title">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="@item.CreatedDate">@item.CreatedDate</time></span> <div class=td-module-comments><a href="@item.NavigationUrl">0</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            itemOrder++;
                                        }

                                        if (itemOrder < countitem)
                                        {
                                            var items = Model.ElementAt(itemOrder);
                                            <div class=td-block-span6>
                                                <div class="td_module_1 td_module_wrap td-animation-stack">
                                                    <div class=td-module-image>
                                                        <div class=td-module-thumb><a href="@items.NavigationUrl" rel=bookmark title="@items.Title">
                                                            <img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/tee-324x160.jpg" alt="" title="@items.Title"/>
                                                        </a></div> <a href="@items.NavigationUrl" class=td-post-category>@items.CategoryName</a>
                                                    </div>
                                                    <h3 class="entry-title td-module-title"><a href="@items.NavigationUrl" rel=bookmark title="@items.Title">@items.Title</a></h3>
                                                    <div class=td-module-meta-info>
                                                        <span class=td-post-author-name><a href="@items.NavigationUrl">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="@items.CreatedDate">@items.CreatedDate</time></span> <div class=td-module-comments><a href="@items.NavigationUrl">0</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                                itemOrder++;

                                            }

                                        }
                                        
        
        

        <div class="page-nav td-pb-padding-side"><span class=current>1</span><a href="https://demo.tagdiv.com/newspaper/page/2/" class=page title=2>2</a><a href="https://demo.tagdiv.com/newspaper/page/3/" class=page title=3>3</a><span class=extend>...</span><a href="https://demo.tagdiv.com/newspaper/page/12/" class=last title=12>12</a><a href="https://demo.tagdiv.com/newspaper/page/2/"><i class=td-icon-menu-right></i></a><span class=pages>Page 1 of 12</span><div class=clearfix></div></div>
    </div>
</div>