@model TMV.Data.Entities.BlockModel
<div class="td_block_wrap td_block_1 td_uid_18_590ffa285d1cd_rand td_with_ajax_pagination td-pb-border-top td_block_template_1 td-column-2" data-td-block-uid=td_uid_18_590ffa285d1cd>
    @if (Model.ListMenu.Any())
    {
       
        
        <div class=td-block-title-wrap>
            <h4 class=block-title><span class=td-pulldown-size>DON&#039;T MISS</span></h4>
            <div class="td-pulldown-syle-default td-subcat-filter" id=td_pulldown_td_uid_18_590ffa285d1cd>

                <ul class=td-subcat-list id=td_pulldown_td_uid_18_590ffa285d1cd_list>
                    @foreach (var item in Model.ListMenu)
                    {
                        <li class=td-subcat-item>
                            <a class=td-subcat-link id="td_uid_@item.Id" data-td_filter_value="@item.Id" data-td_block_id=td_uid_18_590ffa285d1cd href="@item.NavigationUrl">@item.CategoryName</a>
                        </li>
                    }
                </ul>
                <div class=td-subcat-dropdown>
                    <div class=td-subcat-more aria-haspopup=true>
                        <span>More</span><i class=td-icon-read-down></i>
                    </div><ul class=td-pulldown-filter-list></ul>
                </div>

            </div>
        </div>
    }

    <div id=td_uid_18_590ffa285d1cd class=td_block_inner>
        @if (Model.ListNews.Any())
        {
            <div class=td-block-row>
                @foreach (var item in Model.ListNews.Take(1))
                {
                    <div class=td-block-span6>
                        <div class="td_module_4 td_module_wrap td-animation-stack">
                            <div class=td-module-image>
                                <div class=td-module-thumb>
                                    <a href="@item.NavigationUrl" rel=bookmark title="@item.Title"><img width=324 height=235 class=entry-thumb src="/assets/wp-content/uploads/2015/03/travel-girl-324x235.jpg" alt="" title="10 Landscapes You Won’t Have Even Imagined Exist" /></a>
                                </div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-travel/" class=td-post-category>Travel</a>
                            </div>
                            <h3 class="entry-title td-module-title">
                                <a href="@item.NavigationUrl" rel=bookmark title="@item.Title">@item.Title</a>
                            </h3>
                            <div class=td-module-meta-info>
                                <span class=td-post-author-name><a href="@item.NavigationUrl">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="@item.CreatedDate">@item.CreatedDate</time></span> <div class=td-module-comments>
                                    <a href="@item.NavigationUrl">0</a>
                                </div>
                            </div>
                            <div class=td-excerpt>
                                @Html.Raw(item.Content)
                            </div>
                        </div>
                    </div>
                }

                <div class=td-block-span6>
                    @foreach (var item in Model.ListNews.Skip(1))
                    {
                        <div class="td_module_6 td_module_wrap td-animation-stack">
                            <div class=td-module-thumb>
                                <a href="@item.NavigationUrl" rel=bookmark title="@item.Title"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/01/outside-100x70.jpg" alt="" title="@item.Title" /></a>
                            </div>
                            <div class=item-details>
                                <h3 class="entry-title td-module-title">
                                    <a href="@item.NavigationUrl" rel=bookmark title="@item.Title">@item.Title</a>
                                </h3>
                                <div class=td-module-meta-info>
                                    <span class=td-post-date><time class="entry-date updated td-module-date" datetime="@item.CreatedDate">@item.CreatedDate</time></span>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        }
        
    </div>
    <div class=td-next-prev-wrap>
        <a href="" class="td-ajax-prev-page ajax-page-disabled" id=prev-page data-td_block_id=td_uid><i class="td-icon-font td-icon-menu-left"></i></a>
        <a href="index.html#" class=td-ajax-next-page id=next-page-td_uid_18_590ffa285d1cd data-td_block_id=td_uid_18_590ffa285d1cd><i class="td-icon-font td-icon-menu-right"></i></a>
    </div>
</div>