@model List<TMV.Data.Entities.ArticleInfo>

@if (Model != null && Model.Count > 0)
{
        <div class="swiper-container tintuc1">
            <div class="swiper-wrapper">

                @for (int i = 1; i < Model.Count + 1; i++)
                {
                    if ((i % 2) != 0)
                    {
                        @Html.Raw("<div class='swiper-slide'>");
                    }

                    <div class="tintuc">
                        <div class="tintuc-img">
                            <img src="@TMV.Utilities.Globals.ImageUrlNoCDN(Model[i-1].Avatar, 200, false)" alt="@Model[i - 1].Title">
                        </div>

                        <div class="tintuc-content">
                            <a href="@Model[i - 1].NavigationUrl" title="@Model[i - 1].Title">
                                <h3 class="title">@Model[i - 1].Title</h3>
                                <p>@Model[i - 1].Description</p>

                            </a>
                        </div>
                    </div>
                    if ((i % 2) == 0)
                    {
                        @Html.Raw("</div>");
                    }
                }
            </div>

            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>


        </div>
}

