@model TMV.Data.Entities.BannerInfo

@{
    Layout = "~/Views/Shared/_Layout.M.cshtml";
    var title = Model.Title;
    var description = Model.Title;
    var keywords = Model.Title;
    var permalink = Model.NavigationUrl;
    var type = "website";
    var thumbnail = TMV.Utilities.Globals.ImageUrlNoCDN(Model.ImagePath, 800, true);

    List<TMV.Data.Entities.BannerInfo> prices = ViewBag.Prices;
}
@section META_INC {
    @Html.Raw(TMV.Utilities.HtmlHelper.MetaTag(title, description, keywords, permalink, type, thumbnail))
}
@section H1_INC {
    <h1><a href="@Model.NavigationUrl">@Model.Title</a></h1>
}
@section BREADCRUMB_INC {
    @*@Html.Raw(ViewBag.BreadCrumb)*@
}

<section class="wrapper price">
    <h1 class="title">@Model.Title</h1>
    @if (Model.Type == (int)TMV.Utilities.Globals.BannerType.Image)
    {
        <img src="@TMV.Utilities.Globals.ImageUrlNoCDN(Model.ImagePath, 800, true)" />
    }
    else
    {
        <div class="tab tab1">@Html.Raw(Server.HtmlDecode(Model.Content))</div>
    }
    @if (prices != null && prices.Count > 0)
    {
        foreach (var item in prices)
        {
            <a class="p-item" href="@item.NavigationUrl">@item.Title</a>
        }
    }
    @*<a href="mailto:tmvhoanganh@gmail.com"><img class="lazy" data-original="/Content/images/btn-reg1.png" alt="Đăng ký tư vấn dịch vụ" /></a>*@
    <a href="tel:0909055678"><img class="lazy" data-original="/Content/images/btn-phone.png" alt="Liên hệ tư vấn" /></a>
    <div class="fb-comments" data-width="100%" data-href="@Model.NavigationUrl" data-order-by="reverse_time" data-numposts="5">
        Đang tải bình luận...
    </div>
</section>
<section class="wrapper content-4">
    @Html.Action("BoxQuestionAnswer", "Common")
    @Html.Action("BoxCustomerReview", "Common")
</section>